* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #f9f9f9;
	font-family: sans-serif;
	line-height: 1.3;
	color: #555;
	font-size: 14px;
	padding: 0;
	margin: 0 auto;
	width: 304px;
	height: 76px;
	position: relative;
	border: 1px solid #ccc;
}

.column {
	top: 0;
	position: absolute;
	height: 74px;
}

.column-main {
	left: 25px;
	width: 175px;
}

.verify-me-progress {
	position: relative;
	display: inline-block;
	width: 26px;
	height: 26px;
	background-color: #fff;
	border: 2px solid #555;
	border-radius: 3px;
	margin: 25px 8px -8px 0;
}

.verify-me-progress:hover {
	box-shadow: inset 0px 1px 2px #ccc;
	border: 2px solid #333;
}

.verify-me-container.in-progress .verify-me-progress {
	border: 0;
	background-color: #ccc;
	animation: anim-effect-verify 0.5s ease-out forwards;
}

@keyframes anim-effect-verify {
	0% {
		box-shadow: inset 0 0 0 16px #fff;
	}
	50% {
		box-shadow: inset 0 0 0 0px #fff;
	}
	75% {
		width: 26px;
	}
	100% {
		width: 100%;
	}
}

.verify-me-container.done .verify-me-progress {
	animation: anim-effect-done 0.25s ease-out forwards;
}

@keyframes anim-effect-done {
	0% {
		width: 170px;
		margin-left: 0px;
	}
	100% {
		width: 0;
		margin-left: 170px;
	}
}

.progress {
	display: none;
	width: 0;
	height: 26px;
	border-radius: 3px;
	background: #21b0f9;
	transition: width 0.25s;
}

.verify-me-text {
	display: inline-block;
	font-size: 16px;
	color: #000;
}

.verify-me-container.in-progress .verify-me-text {
	transition: opacity 0.25s;
	opacity: 0;
}


.verified-container {
	display: none;
}

.verified-text {
	display: inline-block;
	font-size: 16px;
	color: #000;
}

.checkmark-circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: #21b0f9;
	fill: none;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: inline-block;
	stroke-width: 5;
	stroke: #fff;
	stroke-miterlimit: 10;
	box-shadow: inset 0px 0px 0px #21b0f9;
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
	margin: 22px 8px -10px -4px;
}

.checkmark-check {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes scale {
	0%, 100% {
		transform: none;
	}
	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}
@keyframes fill {
	100% {
		box-shadow: inset 0px 0px 0px 30px #21b0f9;
	}
}

.error-container {
	background-color: #f9f9f9;
	display: none;
}

.exclamation {
	width: 32px;
	height: 74px;
	margin: 0px 8px 0px -2px;
	display: inline-block;
	float: left;
}

.error-text {
	display: block;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 16px;
	color: #500;
	height: 74px;
}

#error-text {
	vertical-align: middle;
	line-height: normal;
}

.slow-warning {
	display: none;
	position: absolute;
	font-size: 12px;
	left: 24px;
	top: 56px;
}

a.help.warn {
	color: #ff9600;
}

.column-aside {
	left: 220px;
	width: 80px;
}

h1 {
	font-size: 14px;
	line-height: 1.2;
	font-weight: normal;
	text-transform: lowercase;
	color: #21b0f9;
	margin: 10px 0 4px 0;
}

img.icon {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin: 0 4px 0 -2px;
}

h2 {
	font-size: 11px;
	margin: 0;
}

a.help {
	font-size: 12px;
	color: #aaa;
	text-decoration: underline;
}

a.help:hover {
	color: #000;
}
