<!-- include(header) -->
<div class="title">
	<h1>文档</h1>
</div>

<div class="section">
	<h2>访问API</h2>
	<p>
			要想使用任何ProjectPoi的API，你必须先<a href="/account/signup">注册</a>账号，然后可以获得一个Site Key和API Key。
			</p>
	<p>
		Site Key必须放在网页上给组件作为验证（比如简易挖矿UI和验证码），而API Key则用于与服务器通过HTTP API通信。
	</p>
</div>

<div class="row">
	<div class="six columns">
		<h2><a href="/documentation/simple-ui">简易挖矿UI</a></h2>
		<p>
			最简单的集成方法，而且方便用户控制
		</p>
	</div>
	<div class="six columns">
		<h2><a href="/documentation/captcha">验证码</a></h2>
		<p>
			使用ProjectPoi验证码组件
		</p>
	</div>
</div>

<div class="row">
	<div class="six columns">
		<h2><a href="/documentation/miner">JS挖矿</a></h2>
		<p>
			内置在网页中的JS挖矿组件
		</p>
	</div>
	<div class="six columns">
		<h2><a href="/documentation/http-api">HTTP API</a></h2>
		<p>
			强大的自定义HTTP API
		</p>
	</div>
</div>

<!-- include(footer) -->
