<!-- include(header) -->
<h1>隐私政策</h1>

<p>
	我们尊重用户的隐私，我们将尽量不获得任何信息。
</p>

<h2>JavaScript挖矿程序和验证码</h2>
<ul>
	<li>
		我们 <strong>不会</strong> 追踪用户。
		我们 <strong>不会</strong> 使用cookie。
		我们 <strong>不会</strong> 使用第三方统计
		(Google Analytics, Piwik, &hellip;)。
	</li>
	<li>
		我们 <strong>绝不</strong> 加载除了ProjectPoi服务域名以外的任何资源，比如我们 <strong>不</strong> 使用任何Google Fonts。
	</li>
	<li>
		我们不保留服务器日志，用户的IP地址信息等将仅停留在我们的服务器内存中并会在一定周期后被清除。
	</li>
	<li>我们 <strong>不会</strong> 储存您的IP地址。</li>
	<li>
		我们使用 <code>localStorage()</code> 与其他标签页的挖矿程序同步消息。这将使用随机生成的唯一标识码。这些信息 <strong>绝不</strong> 会发送给我们。
	</li>
	<li>
		对于JavaScript挖矿程序，除非您指定了其用户名或者申请了token，否则我们不会储存其任何统计信息。
	</li>
</ul>

<h2>本站 (ppoi.org)</h2>
<ul>
	<li>
		我们 <strong>不会</strong> 追踪用户。
		我们 <strong>不会</strong> 使用第三方统计
		(Google Analytics, Piwik, &hellip;)。
	</li>
	<li>
		我们 <strong>绝不</strong> 加载除了ProjectPoi服务域名以外的任何资源，比如我们 <strong>不</strong> 使用任何Google Fonts。
	</li>
	<li>
		如果您登录了用户，我们将使用cookie来标识您的用户，
	</li>
	<li>
		如果您创建了用户。您提供的邮箱地址和密码将会储存在我们的服务器上。 这些信息 <strong>绝不</strong>
		会被公开。 我们 <strong>绝不</strong> 会将您的邮箱地址透露给第三方。 您的密码将会被储存为不可还原的散列。
	</li>
	<li>
		我们将会储存您的IP地址以便保护您的账户安全。 我们
		<strong>绝不</strong> 会将其透露给第三方。
	</li>
</ul>
<!-- include(footer) -->