<!-- include(header) -->

<h1>服务协议(ToS)</h1>

<div class="section">
	<p>
		当您使用了ProjectPoi的服务时，将默认您同意以下条款。
	</p>
	<ol>
		<li>
			仅在合法的情况下使用。
		</li>
		<li>
			尝试对本站的爆破，攻击等将可能导致账户被封禁。
		</li>
		<li>
			我们保留因为任何原因封禁您的账号的权力。
		</li>	
		<li>
			对于您和您的用户的硬件损害我们不负责任。
		</li>
		<li>
			我们保留未来修改本协议的权力。
		</li>
	</ol>
</div>

<div class="section">
	<h2>安全与Bug回报</h2>
	<p>
		如果您发现了任何安全隐患或者Bug，您可以通过
		<a href="/info/faq">来回报给我们</a>。 取决于问题的严重性我们将会考虑支付您报酬。
	</p>
	<p>
		注意：我们不将DDos攻击等视作安全隐患。
	</p>
</div>

<!-- include(footer) -->