<!-- include(header) -->

<div class="header">
	<h1>FAQ</h1>
</div>

<h3>在移动设备上能用么?</h3>
<p>
	能，不过很费电而且还会让设备变暖手宝。
</p>

<h3>能商量下更高的报酬么?</h3>
<p>
	再高都要倒贴了。
</p>

<h3>我大约能获得多少XMR的报酬?</h3>
<p>
	我们目前为每100W个hash支付 <code>0.0002061</code> XMR。
	如果您每月有100W个访问， 假设他们的平均速度为30Hash/s (中端笔记本)，平均停留5分钟，您将获得:
</p>
<p>
	<code>
		(1000000 人 * 30 hashes/s * 5 分钟 * 60 秒)/1000000 * 
		0.0002061 xmr = 1.8549 xmr / 月.
	</code>
</p>

<h3>咋提现啊?</h3>
<p>
	每隔两小时系统自动处理一次，单笔最低为0.3XMR。
</p>

<h3>我怎么才能把其嵌入到我的站点?</h3>
<p>
	参阅 <a href="/documentation/miner">文档</a>
</p>

<p>
	更详细的信息请参阅 <a href="/documentation/miner">文档</a>
</p>

<!-- include(footer) -->