<!-- include(header) -->

<div class="header">
	<h1>FAQ</h1>
</div>
<h1>PoW验证码</h1>

<h2>发生了什么？为什么我的风扇狂转？</h2>
<p>
	当您单击“验证我”选项时，程序将在浏览器中运行了一段JavaScript代码。这个代码解决了一个数学难题，对CPU需求较大。
</p>
<p>
	当您的浏览器计算出了结果时，将会发送到我们的服务器进行验证，一旦您的浏览器计算到了足够多的解，您将可以继续提交表单。
</p>
<p>
	虽然这个不像Google的 <em>reCaptcha</em> 一样 <em>“证明你是人”</em>， 这个验证码是靠让您的浏览器完成特定计算完成的。
</p>

<h2 id="slow">为什么这么慢?</h2>
<p>
	根据您的计算机配置，解决这些数学难题可能需要相当长的一段时间。计算机的速度越快，验证速度就越快。
</p>
<p>
	智能手机或平板电脑在这方面特别慢。如果您希望运行速度更快，请使用笔记本电脑或台式电脑。
</p>
<p>
	更新您的浏览器也可以有帮助。使用支持WebAssembly的浏览器 <a href="http://www.google.com/chrome/">Chrome</a> 或
	<a href="https://www.mozilla.org/en-US/firefox/">Firefox</a>.
</p>

<h2>到底在算什么东西?</h2>
<p>
	<a href="https://getmonero.org/">门罗币区块链</a>。
	门罗币是跟比特币类似的数字货币。我们使用门罗币是因为它所用的Cryptonight在CPU上也可以很好的运行。
</p>
<p>
	实际上，您在挖掘此货币，每个您解决的问题都将交给网站所有者以便他们获得报酬。在此过程中我们只收集了计算结果，不会收集任何您的个人信息。
</p>

<p>
	您也可以将此验证码嵌入您自己的网站，并让您的用户使用。详见<a href="/">ppoi.org</a>
</p>

<!-- include(footer) -->