<!-- include(header) -->
<div class="title">
	<h1>
		<a href="/settings">设置</a> »
		支付设置
	</h1>
</div>

<!-- if($notice!=''): -->
<p class="notice ok temporary">{$notice}</p>
<!-- endif -->

<form action="/settings/payments" method="post">
	<input type="hidden" name="nonce" value="{$nonce}"/>
	
	<div class="row form-row">
		<label>门罗币地址 (钱包地址)</label>
		<input 
			type="text"
			name="paymentAddress" class="full-width xmr-address" 
			value="{$currentaddr}"/>
				<p class="hint">
			请注意我们目前只能向钱包地址发送，我们暂时无法向交易所直接发送门罗币。如果您需要门罗币钱包，您可以在
			<a href="https://mymonero.com/" target="_blank">mymonero.com</a>
			上注册一个。
		</p>
	</div>
	<div class="row form-row">
		<label>最少付款</label>
		<input 
			type="number" step="0.1" min="0.3" class="wide"
			name="paymentMinimum"
			value="{$currentminpayout}"/>
			XMR
		<p class="hint">
			当金额大于此额度时将发送付款，最少额度为0.3XMR。
		</p>
	</div>
	
	<div class="row form-row">
		<label>当前密码</label>
		<input 
			type="password"	required name="password" class="wide"
			autocomplete="off" value=""/>
				<p class="hint">
			请输入您 <strong>当前的</strong> 密码来保存更改。
		</p>
	</div>

	<div class="row">
		<div class="four columns">
			<label>&nbsp;</label>
			<input type="submit" class="button primary" value="保存支付设置"/>
		</div>
	</div>
</form>

<!-- include(footer) -->