<!-- include(header) -->
<div class="title">
	<h1>设置</h1>
</div>

<div class="row">
	<div class="six columns">
		<h2><a href="/settings/sites">站点 &amp; API 密钥</a></h2>
		<p>
			创建新的站点或者更换您的API密钥
		</p>
	</div>

	<div class="six columns">
		<h2><a href="/settings/payments">支付</a></h2>
		<p>
			设置您的钱包地址以及最低支付金额
		</p>
	</div>
</div>

<div class="row">
	<div class="six columns">
		<h2><a href="/settings/account">账户</a></h2>
		<p>
			更改您的密码或邮箱
		</p>
	</div>
</div>
<!-- include(footer) -->
