/* Base -------------------------------------------------------------------- */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%;
}

body {
	margin: 0;
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}

img {
	border: 0;
}


/* Grid --------------------------------------------------------------------- */

.container {
	position: relative;
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	padding: 0 20px;
}

.container:after, .row:after {
	content: "";
	display: table;
	clear: both;
}

.column, .columns {
	width: 100%;
	float: left;
}

@media (min-width: 400px) {
	.container {
		width: 85%;
		padding: 0;
	}
}

@media (min-width: 550px) {
	.container {
		width: 80%; 
	}
	.column, .columns {
		margin-left: 4%;
	}
	.column:first-child,
	.columns:first-child {
		margin-left: 0;
	}

	.one.column, .one.columns { width: 4.66666666667%; }
	.two.columns { width: 13.3333333333%; }
	.three.columns { width: 22%; }
	.four.columns  { width: 30.6666666667%; }
	.five.columns  { width: 39.3333333333%; }
	.six.columns { width: 48%; }
	.seven.columns { width: 56.6666666667%; }
	.eight.columns { width: 65.3333333333%; }
	.nine.columns  { width: 74.0%; }
	.ten.columns { width: 82.6666666667%; }
	.eleven.columns  { width: 91.3333333333%; }
	.twelve.columns  { width: 100%; margin-left: 0; }

	.one-third.column  { width: 30.6666666667%; }
	.two-thirds.column { width: 65.3333333333%; }

	.one-half.column { width: 48%; }
}

.full-width {
	width: 100%;
}
.max-full-width {
	max-width: 100%;
}


/* Typo & Margins ----------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
}

h1 { font-size: 4.0rem; line-height: 1.20; letter-spacing: -0.10rem; margin: 0;}
h2 { font-size: 3.0rem; line-height: 1.25; letter-spacing: -0.10rem; }
h3 { font-size: 2.4rem; line-height: 1.30; letter-spacing: -0.10rem; }
h4 { font-size: 1.5rem; line-height: 1.35; letter-spacing: -0.05rem; text-transform: uppercase; }
h5 { font-size: 1.5rem; line-height: 1.50; letter-spacing: -0.05rem; text-transform: uppercase; }
h6 { font-size: 1.5rem; line-height: 1.60; letter-spacing: 0; }

p {
	margin-top: 0;
}

button, .button {
	margin-bottom: 1rem;
}
input, textarea,
select, fieldset {
	margin-bottom: 1.5rem;
}

pre, blockquote, dl, figure,
table, p, ul, ol, form {
	margin-bottom: 2.5rem;
}


/* Tables ------------------------------------------------------------------- */

div.overflow-container {
	width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

table.narrow td { font-size: 13px; padding: 0.3em 0.2em;}
table.narrow tr { font-size: 13px; }

td, th {
	text-align: left;
	border-bottom: 1px solid #f1f1f1;
	padding: 0.5em 1em;
	margin: 0;
}

th:first-child, td:first-child {
	padding-left: 0;
}
th:last-child, td:last-child {
	padding-right: 0;
}

th.number, td.number {
	text-align: right;
	width: 4em;
}

th.number-long, td.number-long {
	text-align: right;
	min-width: 4em;
}

td input {
	margin-bottom: 0;
}

tr.inactive {
	background-color: #eee;
	opacity: 0.3;
}

tr:hover {
	background-color: #fbfbfb;
}

tr.inactive:hover {
	background-color: #ddd;
}

.fine-print {
	font-size: 80%;
	color: #aaa;
}
p.fine-print {
	text-align: right;
}

table.reference td {
	vertical-align: top;
}

table.reference td:first-child {
	width: 25%;
	text-align: right;
	font-family: monospace, monospace;
	font-size: 0.9em;
}


/* Forms & Buttons ---------------------------------------------------------- */

input {
	line-height: normal;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	height: 38px;
	padding: 6px 2px;
	background-color: #fff;
	border: 0;
	border-bottom: 1px solid #D1D1D1;
	border-radius: 0;
}

textarea { background-color: #fafafa; }
textarea:focus { background-color: #fff; }

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-position: right 50%;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14px" height="12px" viewBox="0 0 14 12"><polygon points="3.862,7.931 0,4.069 7.725,4.069"/></svg>');
	padding: .5em;
	padding-right: 1.5em
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	padding-top: 6px;
	padding-bottom: 6px;
	height: 3em;
	width: 100%;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus,
input[type="email"]:focus:hover,
input[type="number"]:focus:hover,
input[type="search"]:focus:hover,
input[type="text"]:focus:hover,
input[type="tel"]:focus:hover,
input[type="url"]:focus:hover,
input[type="password"]:focus:hover,
textarea:focus:hover,
select:focus:hover {
	border-bottom: 1px solid #1e9ee0;
	outline: 0;
}

input[type="email"]:hover,
input[type="number"]:hover,
input[type="search"]:hover,
input[type="text"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover,
input[type="password"]:hover,
textarea:hover,
select:hover {
	border-bottom: 1px solid #777;
	outline: 0;
}

label,
legend {
	display: block;
	margin-bottom: .5rem;
	font-weight: 600;
}

fieldset {
	padding: 0;
	border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
	padding: 0;
}

input.number, input[type="number"] {
	text-align: right;
}

input.wide {
	width: 320px;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.button {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: #555;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: #fafafa;
	border: 1px solid #fafafa;
	cursor: pointer;
	-webkit-appearance:none;
	border-radius: 0;
}

.button:hover,
.button:focus {
	color: #333;
	border-color: #fff;
	background-color: #fff;
	outline: 0;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12);
}

.button.primary {
	color: #Fafafa;
	background-color: #ff8c00;
	border-color: #ff8c00;
	transition:background-color 0.5s, border-color 0.5s;
}

.button.primary:hover, 
.button.primary:focus {
	color: #Fafafa;
	background-color: #fcb763;
	border-color: #fcb763;
}

.button[disabled], input[disabled] {
	cursor: default;
}

.button[disabled], .button[disabled]:hover,
input[disabled], input[disabled]:hover {
	background-color: #ccc;
	border-color: #ccc;
}

textarea.contact {
	height: 200px;
}

input.xmr-address {
	font-family: monospace, monospace;
	font-size: 9pt;
}



/* Lists -------------------------------------------------------------------- */

ul {
	list-style: circle inside;
}
ol {
	list-style: decimal inside;
}
ol, ul {
	padding-left: 0;
	margin-top: 0;
}
li {
	margin-bottom: 0.3rem;
}

ul.reference {
	font-family: monospace, monospace;
	font-size: 0.9em;
}


/* Code --------------------------------------------------------------------- */

pre {
	overflow: auto;
	padding: 6px 12px 6px 12px;
	font-size: 90%;
	color: #555;
	background: #f8f9fa;
	border-left: 3px solid #363636;
	tab-size: 4;
}

code, pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

code {
	padding: .2rem .5rem;
	margin: 0 .2rem;
	font-size: 90%;
	background: #f4f5f6;
}

pre > code {
	display: block;
	padding: 1rem 1.5rem;
	white-space: pre;
}

h4 code { text-transform: none; }

.sh span.comments { color: #666; }
.sh span.strings { color: #6a0; }
.sh span.regexp { color: #719; }
.sh span.punct { color: #17b; }
.sh span.keywords { color: #f0b; }
.sh span.numbers { color: #d83; }


/* Notices ------------------------------------------------------------------ */

.notice {
	background-color: #eee;
	padding: 0.25em 0 0.25em 0.5em;
}

.notice.ok { background-color: #afffb2; }
.notice.warn { background-color: #ffdd9d; }
.notice.danger { background-color: #e7295f; color: #fff; }

@keyframes opacity-fade { 85% {opacity: 1;} 100% {opacity: 0;}}
.notice.temporary {
	animation: opacity-fade 3s ease-in 1;
	animation-fill-mode: forwards;
}

div.blk-warn {
	display: none;
	background-color: #fff0f0;
	color: #ff0000;
	border: 1px solid #ffd7d7;
	margin: 0 0 0em 0;
	padding: 1em;
}




.hint {
	font-style: italic;
	color: #555;
}


a {
	color: #35b9f3;
	text-decoration: none;
	transition:color 0.3s;
	background-color: transparent;
}

.action {
	cursor: pointer;
	color: #1e9ee0;
	text-decoration: none;
}

a:hover, .action:hover,
a.active, .action.active {
	color: #555;
}

span.link-disabled {
	color: #ccc;
}

span.punct {
	color: #eee;
}

.pagination {
	text-align: right;
}

.action.action-delete {
	color: #f30;
	font-size: 160%;
}

h1.landing {
	font-size: 6rem;
}

img.head-icon {
	vertical-align: bottom;
	width: 37px;
	height: 37px;
	margin-right: 4px;
}

div.use-cases {
	margin: 6em 0 4em 0;
}

div.use-cases div.row {
	margin: 1em 0;
}

.call-to-action {
	margin: 4em 0;
	text-align: center;
}

h4.number-label {
	margin: 16px 0 0 0;
}


/* Landing Page Miner ------------------------------------------------------- */

#miner h4.number-label,
#miner h2 {
	color: #aaa;
}

#miner.running h4.number-label,
#miner.running h2 {
	color: #555;
}

#mining-stats-container {
	position: relative;
	text-align: center;
	height: 96px;
	border-bottom: 1px solid #f0f0f0;
}

#mining-stats-canvas {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#mining-controls {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 32px 0;
}

#mining-start {
	text-transform: uppercase;
	font-size: 120%;
	display: inline-block;
}

#miner.running #mining-start {
	position: relative;
	z-index: 2;
	display: none;
}

#mining-stop {
	display: none;
}

#miner.running #mining-controls:hover #mining-stop {
	position: relative;
	z-index: 2;
	display: inline-block;
}

.mining-icon {
	width: 32px;
	height: 32px;
	vertical-align: -37%;
	margin-right: 4px;
}

.mining-icon .mining-stroke { stroke: #1e9ee0; }
.mining-icon .mining-fill { fill: #1e9ee0; }
.mining-button:hover .mining-icon .mining-stroke { stroke: #555; }
.mining-button:hover .mining-icon .mining-fill { fill: #555; }

#miner.stopped .action { color: #aaa; }
.mining-divide { font-size: 80%; color: #eee; }



/* Layout ------------------------------------------------------------------- */
.header {
    margin: 0 30px;
}
.row {
    margin: 0 0 4em 0;
}

.row {
    padding: 0 30px;
}
.scroll
{
    position: fixed;
    bottom: 0;
    left: 0;
}
.header{
	padding:10px 20px;
	border-left:solid 3px #ff8c00;
}
.section>h2{
	padding:10px 20px;
	border-left:solid 3px #ff8c00;
}
.section>.row>.rew{
	margin:20px 20px 10px 0;
	border-left:solid 3px #363636;
	padding:0 20px;
	background-color: #f9f9f9;
}
.section>h1{
	margin-bottom:20px;
}
.section>h1,.section>h2{
	width:768px;
}
.section{
	padding:0 30px;
}
div.navigation {
    border-right: 1px solid #eee;
    padding: 2rem 1rem;
    display: flex;
    height:100%;
    z-index: 99;
    flex-direction: column;    
    background-color:#fff;
    justify-content: space-between;
    position: fixed;
}
div.navigation .up,div.navigation .down{
	display: flex;
	align-items: center;    
	flex-direction: column;
}

div.navigation a {
	margin:8px 5px;
	transition: color 0.3s;
}

div.navigation a.active {
	color: #000;
}

div.navigation img.navigation-icon {
	width: 43px;
	height: 43px;
}

div.navigation span.aside {
	float: right;
	margin-right: 0;
}
div.main{
    padding: 30px 108px;
}
div.main-row{
    padding: 30px 108px;
    justify-content: center;
    display: flex;
    white-space: nowrap;
    height: calc(100vh - 20px);
    flex-wrap: wrap;
    flex-direction: column;
}
div.claim {
	text-align: center;
}

img.logo {
	width: 96px;
	height: 96px;
	margin-bottom: 8px;
}


div.foot {
	border-top: 1px solid #f6f6f6;
	text-align: center;
	padding-top: 2em;
}

.unit {
	color: #999;
	font-size: 50%;
}

.section {
	margin: 0 0 4em 0;
}

.form-set {
	margin: 2em 0 3em 0;
}

.form-row {
	margin-bottom: 1em;
}

.image-box-center {
	text-align: center;
	margin: 15px 0 15px 0;
}

.image-box-right {
	margin: 15px 0 15px 0;
}

div.caption {
	font-style: italic;
	color: #555;
}

@media (min-width: 550px) {
	.image-box-right {
		float: right;
		max-width: 345px;
		margin: 0 0 15px 15px;
	}
}

@media (max-width: 550px) {
	div.navigation {
    border-bottom: 1px solid #eee;
    padding: 0 1rem;
    display: flex;
    width: 100%;
    height: auto;
    z-index: 99;
    flex-direction: row;
    background-color: #fff;
    justify-content: space-between;
    position: fixed;
}
div.navigation .up, div.navigation .down {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.main{
	padding:80px 0 0!important;
}
.section>h1, .section>h2{
	width:initial!important;
}
}

/* Charts ------------------------------------------------------------------- */

.ct-label {
	fill: rgba(0, 0, 0, 0.4);
	color: rgba(0, 0, 0, 0.4);
	font-size: 12px;
	line-height: 1; 
	white-space: nowrap;
}
.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
	display: block;
	display: flex;
}
.ct-label.ct-horizontal.ct-start {
	align-items: flex-end;
	justify-content: flex-start;
	text-align: left;
	text-anchor: start;
}
.ct-label.ct-horizontal.ct-end {
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	text-anchor: start;
}
.ct-label.ct-vertical.ct-start {
	align-items: flex-end;
	justify-content: flex-end;
	text-align: right;
	text-anchor: end;
}
.ct-label.ct-vertical.ct-end {
	align-items: flex-end;
	justify-content: flex-start;
	text-align: left;
	text-anchor: start;
}
.ct-grid {
	stroke: rgba(0,0,0, 0.05);
	stroke-width: 1px;
	stroke-dasharray: 4px;
}

.ct-line {
	fill: none; stroke-width: 1px;
}
.ct-series-a .ct-line { stroke: #4cc667; }
.ct-series-b .ct-line { stroke: #f05b4f; }
.ct-series-c .ct-line { stroke: #f4c63d; }
.ct-series-d .ct-line { stroke: #d17905; }
.ct-series-e .ct-line { stroke: #453d3f; }
.ct-series-f .ct-line { stroke: #59922b; }
.ct-series-g .ct-line { stroke: #0544d3; }
.ct-series-h .ct-line { stroke: #6b0392; }
.ct-series-i .ct-line { stroke: #f05b4f; }
.ct-series-j .ct-line { stroke: #dda458; }
.ct-series-k .ct-line { stroke: #eacf7d; }
.ct-series-l .ct-line { stroke: #86797d; }
.ct-series-m .ct-line { stroke: #b2c326; }
.ct-series-n .ct-line { stroke: #6188e2; }
.ct-series-o .ct-line { stroke: #a748ca; }

.ct-legend { color: #555; margin: 0 8px; display: inline-block;}
.ct-legend-a {border-bottom: 1px solid #4cc667;}
.ct-legend-b {border-bottom: 1px solid #f05b4f;}
.ct-legend-c {border-bottom: 1px solid #f4c63d;}
.ct-legend-d {border-bottom: 1px solid #d17905;}
.ct-legend-e {border-bottom: 1px solid #453d3f;}
.ct-legend-f {border-bottom: 1px solid #59922b;}
.ct-legend-g {border-bottom: 1px solid #0544d3;}
.ct-legend-h {border-bottom: 1px solid #6b0392;}
.ct-legend-i {border-bottom: 1px solid #f05b4f;}
.ct-legend-j {border-bottom: 1px solid #dda458;}
.ct-legend-k {border-bottom: 1px solid #eacf7d;}
.ct-legend-l {border-bottom: 1px solid #86797d;}
.ct-legend-m {border-bottom: 1px solid #b2c326;}
.ct-legend-n {border-bottom: 1px solid #6188e2;}
.ct-legend-o {border-bottom: 1px solid #a748ca;}

